<div class="card card-inverse accident text-center">
  <div class="card-header">
    Accident on {{accident.localisation}}
  </div>

  <div class="card-block" style="margin: 5px 0;">
    <p class="card-text">{{accident.nbVehicles}} vehicules are involved.</p>
    <a class="btn btn-primary" routerLink="/accident/{{accident._id}}" >More informations</a>
    <pre>{{ accident | json }}</pre>
  </div>

  <div class="card-footer text-muted">
    Reported on {{accident.createdDate}} by <strong>{{accident.author}}</strong>
  </div>
</div>
